.id_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 28rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.id_title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity))
}

.id_error_message {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.id_field {
  margin-bottom: 1rem
}

.id_text_label {
  margin-bottom: 0.25rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity))
}

.id_text_input {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.id_text_input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .id_text_input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.id_field_checkbox {
  display: flex;
  align-items: center
}

.id_checkbox {
  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.id_checkbox:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

.id_checkbox_label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity))
}

.id_wrapper .invalid_feedback {
  padding-left: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.id_submit {
  text-align: right
}

.id_submit_button {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.id_links {
  margin-top: 1rem;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(203 213 225 / var(--tw-border-opacity));
  padding-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.id_link {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity))
}

.id_link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.id_link:focus {
  --tw-text-opacity: 1;
  color: rgb(129 140 248 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.id_info {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.id_actions {
  text-align: right
}

.id_action_primary {
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.id_action_secondary {
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity))
}

.id_divider {
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity));
  padding-bottom: 1rem
}

.id_qr_code {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.id_qr_code svg {
  margin-left: auto;
  margin-right: auto
}

.id_otp_secret {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  padding: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.id_otp_secret pre {
  white-space: pre-wrap;
  word-break: break-all
}

.id_2fa_backup_codes {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem
}

.id_2fa_backup_codes code {
  margin: 0.25rem
}
